AddDefaultCharset windows-1251
# AddType application/x-httpd-php5 .php .htm .html
<IfModule mod_rewrite.c>
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} robots.bd$ [NC]
RewriteRule ^([^/]+) $1 [L]
RedirectMatch /files.bd /error.php?ID=403
RedirectMatch /downloaders.bd /error.php?ID=403
RedirectMatch /reports.bd /error.php?ID=403
RedirectMatch /bans.bd /error.php?ID=403
RedirectMatch /uploaders.bd /error.php?ID=403

#Перенаправление с domain.com на www.domain.com:
#RewriteCond %{HTTP_HOST} !^$
#RewriteCond %{HTTP_HOST} !^www\. [NC]
#RewriteCond %{HTTP_HOST} (.+)$
#RewriteRule ^(.*) http://www.%1/$1 [L,R=301]

ErrorDocument 404 /error.php?ID=404
ErrorDocument 403 /error.php?ID=403
ErrorDocument 401 /error.php?ID=401
ErrorDocument 500 /error.php?ID=500

#Перенаправление с results.php на files.php
RedirectMatch /lat/results.php /lat/files.php
RedirectMatch /dos866/results.php /dos866/files.php
RedirectMatch /results.php /files.php


<Files "files.bd">
deny from all
</Files>

<Files "downloaders.bd">
deny from all
</Files>

<Files "reports.bd">
deny from all
</Files>

<Files "bans.bd">
deny from all
</Files>

<Files "uploaders.bd">
deny from all
</Files>
<Files "keywords.php">
deny from all
</Files>
<Files "capcha.php">    
deny from all
</Files>
<Files "preview.php">    
deny from all
</Files>
<Files "config.php">    
deny from all
</Files>
<Files "donate.php">    
deny from all
</Files>
<Files "search_top.php">    
deny from all
</Files>
<Files "filetypes_win1251.php">    
deny from all
</Files>
<Files "footer.php">    
deny from all
</Files>
<Files "header.php">    
deny from all
<Files "mirrors.php">    
</Files>
deny from all
</Files>
<Files "search.php">    
deny from all
</Files>
<Files "style.php">    
deny from all
</Files>
<Files "share.php">    
deny from all
</Files>
<Files "url_tricks.php">    
deny from all
</Files>

