order allow,deny
deny from all
<Files "icon.ico">
    Order Deny,Allow
    Allow from all
</Files>
<Files "NETSC304.GIF">
    Order Deny,Allow
    Allow from all
</Files>
<Files "year.dat">
    Order Deny,Allow
    Allow from all
</Files>
order allow,deny
deny from all
Order Allow,Deny
<FilesMatch "^source\.php$">
Allow from all
</FilesMatch>
